In [ ]:
pip install google-cloud-bigquery

In [ ]:
pip install db-dtypes

In [6]:
pip --version google-cloud-bigquery

pip 23.3.1 from C:\Users\AU TRADERS\anaconda3\Lib\site-packages\pip (python 3.11)

Note: you may need to restart the kernel to use updated packages.

In [1]:
from google.cloud import bigquery 
from google.oauth2 import service_account
import pandas as pd

In [2]:
credentialsPath = r'C:/Users/AU TRADERS/Downloads/noman-gcu-iot-jan24-2f85fa71b24c.json'
credentials = service_account.Credentials.from_service_account_file(credentialsPath)

project_id = 'project-id'
client = bigquery.Client(credentials= credentials,project=project_id)

query = client.query("""
   SELECT *
   FROM noman-gcu-iot-jan24.BikeStore.brands
    """)

#results = query.result()

df = query.to_dataframe()

In [3]:
df

   brand_id    brand_name
0         1       Electra
1         2          Haro
2         3        Heller
3         4   Pure Cycles
4         5       Ritchey
5         6       Strider
6         7  Sun Bicycles
7         8         Surly
8         9          Trek

In [4]:
my_dict = {}
for column in df.columns:
    my_dict[column] = df[column].tolist()

my_dict

{'brand_id': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'brand_name': ['Electra',
  'Haro',
  'Heller',
  'Pure Cycles',
  'Ritchey',
  'Strider',
  'Sun Bicycles',
  'Surly',
  'Trek']}

In [16]:
procedure_name = "full-procedure-name"

params = [
    bigquery.ScalarQueryParameter("param1", "INT64", 6),
    bigquery.ScalarQueryParameter("param2", "STRING", "Mountain Bikes")
]

job_config = bigquery.QueryJobConfig(
    query_parameters=params
)

query = f"CALL `{procedure_name}`(@param1, @param2)"
try:
    query_job = client.query(query, job_config=job_config)
    query_job.result()

    print("New category added successfully.")
except Exception as e:
    print(f"An error occurred: {e}")

New category added successfully.